:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: #ffffffde;
  background-color: #051a25;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'DM Sans', sans-serif;
  position: relative;

}


a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  display: block;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}